# Ignore compiled Python files
__pycache__/
*.pyc

# Ignore virtual environment
venv/
.env

# Ignore data & logs
data/raw/
data/embeddings/
logs/

# Ignore Docker volumes
docker/volumes/
docker/mariadb_data/
docker/chroma_data/
